<div class="block">
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "Goods in category: "+((@category.title unless @category.nil?)||""))  %></h2>


    <div class="inner">
      <!--goods list-->
      <%if params[:selected_subcategory].nil?%>
        <!--id only subcategory  not selected-->
        <%unless params[:selected_category].nil?%>
          <%category_id=params[:selected_category]%>
        <%end%>
      <%else%>
        <%category_id=params[:selected_subcategory]%>
      <%end%>
      <%if category_id.nil?%>
        <%if params[:id].nil?%>
          <div><H1>Category is not selected</H1></div>
        <%else%>
          <!--good info here-->
          <div>
            <%= image_tag @good.fuimage.public_filename()%><br>
              <%=@good.name%><br>
              Price:<%=@good.price%><br>
              <%= link_to_remote "Add to Cart", :url=>{:controller=>:shop_wo_ajax, :action=>:add_cart_item, :good_id => @good.id}, :method=>"get" %>
              Add to Cart: Not Implemented yet (((
            </div>
          <%end%>
       <%else%>
    <%#  $goods = Good.find_all_by_category_id(category_id)%>
          <% @goods.each do |good| %>
            <div class="good_on_shop">
      <%#= link_to image_tag(good.fuimage.public_filename(:thumb)), good.fuimage.public_filename unless good.fuimage.nil?%>
              <%#= link_to image_tag(good.fuimage.public_filename(:thumb)), {:id=>good.id} %>
              <%= link_to image_tag(good.fuimage.public_filename(:thumb)),
                {:controller=>:shop_wo_ajax, :action=>:show_good, :id=>good.id, :selected_category=>params[:selected_category],
                :selected_subcategory=>params[:selected_subcategory]} %>
              <br><%= good.name %> (<%= good.price %>$)
            </div>
          <%end%>
        <%end%>
        <div class="actions-bar wat-cf">
          <div class="actions">
          </div>
        </div>
      </div>
    </div>
  </div>
