
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", category_goods_path(params[:category_id])  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_category_good_path(params[:category_id]) %></li>
      <!--<li class="active"><#%= link_to "#{t("web-app-theme.show", :default => "Show")}", category_good_path(params[:category_id]) %></li>-->
    </ul>
  </div>
  <div class="content">
    <div class="inner">

      <p>
        <b><%= t("activerecord.attributes.good.title", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
        <%= @good.name %>
      </p>
      <p>
        <b><%= t("activerecord.attributes.good.price", :default => t("activerecord.labels.price", :default => "Price")) %>:</b>
        <%= @good.price %>
      </p>
      <p>
        <%unless @good.category.nil? %>
          <b>
            <%=t("activerecord.attributes.good.category.title", :default => t("activerecord.labels.title", :default => "Title"))%>
          </b>
          <%=@good.category.title%>
        <%end%>
      </p>


      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_category_good_path(:category_id=>params[:category_id], :id=>@good), :class => "button" %>
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", category_good_path(:category_id=>params[:category_id], :id=>@good), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_category_good_path(:category_id=>params[:category_id], id=>@good) %> |
<%= link_to 'Back', category_goods_path(:category_id=>params[:category_id]) %>

<% content_for :sidebar, render(:partial => 'sidebar') -%>