<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", categories_path(:parent=>params[:parent])  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_category_path(:parent=>params[:parent]) %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New Good")}", new_category_good_path(:category_id=>params[:parent]) unless  params[:parent].nil?%></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Categories</h2>


    <div class="inner">
      <%=show_category_path%>
      <table class="table">
        <tr>             
          <th class="first">ID</th>

          <th>
            <%= t("activerecord.attributes.category.title", :default => t("activerecord.labels.title", :default => "Title")) %>
          </th>

          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @categories.each do |category| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= category.id %>
            </td>

            <td>
              <%= link_to category.title, categories_path(:parent => category) %>
            </td>

            <td>
              <%= category.created_at %>
            </td>

            <td>
              <%= link_to "#{t("web-app-theme.new", :default => "Goods")}", category_goods_path(category) %></b>
            </td>
            <td class="last">
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", category_path(category, :parent=>params[:parent]) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_category_path(category) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", category_path(category), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
          </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>