<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Web App</title>
    <%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/greenish/style", :cache => true %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">Web App</a></h1>
        <div id="user-navigation">
          <ul class="wat-cf">
            <li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
            <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
            <% if !current_user %>
              <li><%= link_to "Register", new_account_path %> |</li>
              <li><%= link_to "Log In", new_user_session_path %> |</li>
            <% else %>
              <li><%= link_to "My Account", account_path %> |</li>
              <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
            <% end %>
          </ul>
        </div>
        <div id="main-navigation">
          <ul class="wat-cf">
          <li <%if params[:controller] == "categories"%>class="active"<%end%>>
           <%=link_to "Categories", categories_path%>
          </li>
          <li <%if params[:controller] == "goods"%>class="active"<%end%>>
           <%=link_to "Goods", category_goods_path(:category_id=>params[:category_id]) unless params[:category_id].nil?%>
          </li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="wat-cf">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        <div id="main">
          <%= yield %>
          <div id="footer">
            <div class="block">
              <p>Copyright &copy; <%= Time.now.year %> Your Site.</p>
            </div>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
  </body>
</html>
